@charset "utf-8";

/**
 * Variables defined in this file will be set before any of the other style
 * sources are loaded.  This would be where defaults for other sources are
 * overridden.
 */
/******************************************************************************
 * Bulma
 ******************************************************************************/
@import "~bulma/sass/utilities/_all";

$family-sans-serif: "Nunito", sans-serif;

// Pagination colours
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

/******************************************************************************
 * Bulma-helpers
 ******************************************************************************/
// Trim the Bulma helpers library a bit, since we don't need all of it
$enable-media-queries: false;
$spacing-range-start: 0;
$spacing-range-end: 30;
$spacing-interval: 5;

/******************************************************************************
 * Pretty-checkbox
 ******************************************************************************/
// Match bulma colours
$pretty--color-default:#bdc3c7;
$pretty--color-primary:$primary;
$pretty--color-info:$info;
$pretty--color-success:$success;
$pretty--color-warning:$warning;
$pretty--color-danger:$danger;
$pretty--color-dark:$dark;