$ag-icons-path: "~ag-grid-community/src/styles/ag-theme-balham/icons/";
$font-size: 0.9rem;
$secondary-font-size: $font-size;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";