body {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #000;
}

.border {
  fill: none;
  stroke: #aaa;
}

.node {
  stroke: #fff;
}

.node-label {
  font-size: 0.8rem;
  background-color: white;
  position: absolute;
  width: 100%;
  padding: 2px;
}
